body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: auto;
    justify-content:center;
    margin-right: 30px;
}

h1{
    font-family: 'Montserrat', sans-serif; 
    color: dark blue;
}
#auxiliarys {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin: auto;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

button {
    width: 100%;
    flex: 1; 
    padding: 40px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #8b98a3;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

button:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}



.indicator-light {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: radial-gradient(circle, #ddd, #bbb); 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

